<div class="footer">
  <span class="block">&lt;/&gt; Copyright &copy; :p_ᴢʜᴀɴɢ (ᴅɪsʙʙ.ᴄᴏᴍ) 2022-2024</span>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- × https://unpkg.com/arouline@1.0.13/jquery-3.2.1.min.js
https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js
https://npm.elemecdn.com/jquery@3.2.1/dist/jquery.min.js
https://github.elemecdn.com/jquery@3.2.1/dist/jquery.min.js
https://unpkg.zhimg.com/jquery@3.2.1/dist/jquery.min.js
https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js
https://cdn.staticfile.net/jquery/3.2.1/jquery.min.js
-->
<script src="https://cdn.bootcss.com/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
$(document).ready(function() {
    $("p img").each(function() {
        var strA = "<a data-fancybox='images'  style='text-decoration: none;'  href='" + this.src + "'></a>";
        $(this).wrapAll(strA);
    });
});
$('[data-fancybox="gallery"]').fancybox({
	openEffect : 'elastic',
	closeEffect : 'elastic',
});
</script>
