---
layout: default
---
{% if page.title == 'About' or page.title == 'Links' or page.title == 'Message' or page.title == 'Roco' %}

		<div class="section_index">
			<h1 class="title">{{ page.title }}</h1>

			{{ content | indent}}
		</div>

{% else %}
	<article>

		<h1 class="title">{{ page.title }}</h1>

		{{ content | indent}}

	</article>
{% endif %}
<div class="page-navigation code">
	<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">&larr; INDEX</a>
</div>